<html>
  <head>  
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-08KTVGMPWD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-08KTVGMPWD');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" type="image/png" href="/static/favicon.ico"/>
    <title>Twitter</title>
    <style> body {font-family: Arial; max-width: 640px;} </style>
  </head>
  
  <body>
    <h1>Why did you link to this page on Twitter?</h1>
    
    <p>
      I write blog posts on <a href="https://benn.substack.com/">Substack</a>, and share those posts on 
      <a href="https://twitter.com/bennstancil">Twitter</a>. After Elon Musk bought Twitter, he started
      suppressing tweets that contain links to Substack, including links that are shared with link shortners
      like Bitly. (This appears to have been accidentally left out of the <a href="https://github.com/search?q=repo%3Atwitter%2Fthe-algorithm+substack&type=code">"the algorithm."</a>) To avoid having my tweets suppressed, I created this 
      website so that I could share my posts without sharing links to Substack.
    </p>
    
    <p>I apologize for costing you a click. On Twitter, <a href="https://twitter.com/search?q=from%3A%40elonmusk%20free%20speech">
    freedom</a> isn't free.</p>
  </body>
</html>