<html>
  <head>  
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-08KTVGMPWD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-08KTVGMPWD');
    </script>
    <meta property="og:title" content="benn.website" />
    <meta property="og:description" content="Benn's website" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/static/favicon.ico"/>
    <style> body {font-family: Arial} </style>
    <title>benn.website</title>
  </head>
  
  <body>
    <h1>Welcome to benn.website</h1>
    
    <p>Please take a moment to visit my other sites:</p>
    
    <ul>
      <li><a href="https://benn.substack.com/">benn.substack</a>: My blog on data and startups.</li>
      <li><a href="http://benn.work/">benn.work</a>: My professional network.</li>
      <li><a href="http://benn.chat/">benn.chat</a>: Not Twitter, but kinda (old).</li>
      <li><a href="http://benn.blue/">benn.blue</a>: Not Twitter, but kinda (new).</li>
      <li><a href="http://benn.photos/">benn.photos</a>: My Instagram account.</li>
      <li><a href="https://benn.ventures/">benn.ventures</a>: We like the stocks.</li>
      <li><a href="http://benn.company/">benn.company</a>: A startup I founded.</li>
      <li><a href="mailto:benn.electronicmail@gmail.com">benn.electronicmail</a>: My email address.</li>
    </ul>
  </body>
</html>