<html>

<head>
  <meta property="og:title" content="benn.website" />
  <meta property="og:description" content="Benn's website" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    body {
      font-family: Arial;
    }
  </style>

  <title>Paraphrase</title>
</head>

<body>
  <h1>Welcome to Paraphrase</h1>

  <p>This is an my software application.</p>

  <p>Please see the <a href="/tos">terms of service</a> and <a href='/pp'>privacy policy</a> for more information.</p>

  <p><a href="/">Return home</p>
</body>

</html>