<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-08KTVGMPWD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-08KTVGMPWD');
    </script>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@bennstancil" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:image" content="{{image}}" />
    
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{desription}}" />
    <meta property="og:image" content="{{image}}" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" type="image/png" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="/static/post.css">
    
    <title>{{title}}</title>
  </head>
  
  <body>
    <div class="container">
      <a href="{{substack_url}}">
        <div class="card" href="{{substack_url}}">
          <div class="photo">
            <img src="{{image}}" alt="{{title}}">
          </div>
          <div class="desc">
            <h1 class="title">{{title}}</h1>
            <p class="subtitle">{{description}}</p>
            <div class="read-button">Read this post</div>
          </div>
        </div>
      </a>
      <p class="explainer"><a href="/twitter-interstitial">What is this?</a></p>

      {% if related %}
      <div class="related-posts">
        <h3>Other recent posts</h3>
        <ul class="related-list">
          {% for post in related[:10] %}
            {% if post.slug != dynamic_page %}
            <li><a href="https://benn.substack.com/p/{{post.slug}}">{{post.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </body>
</html>

